@page
@model IndexModel
@{
    ViewData["Title"] = "Display Customers";
}
<h2 style="text-align:center;background-color:yellowgreen;color:red">Customer Details</h2>
<table border="1" class="table table-bordered">
    <tr>
        <th>Custid</th>
        <th>Name</th>
        <th>Balance</th>
        <th>City</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
@foreach (var customer in Model.Customers)
{
<tr>
            <td align="center">@customer.Custid</td>
<td>@customer.Name</td>
<td>@customer.Balance</td>
<td>@customer.City</td>
<td align="center"><input type="checkbox" asp-for="@customer.Status" disabled/></td>
<td>
                <a asp-page="DisplayCustomer" asp-route-Custid="@customer.Custid">Details</a> &nbsp;
                <a asp-page="EditCustomer" asp-route-Custid="@customer.Custid">Edit</a> &nbsp;
                <a asp-page="DeleteCustomer" asp-route-Custid="@customer.Custid">Delete</a>
</td>
</tr>
}
<tr>
<td colspan="6" align="center">
<a asp-page="AddCustomer">Add New Customer</a>
</td>
</tr>
</table>